# Ignore everything
*
# Except
# ------
# Repository files
!.gitignore
!README.md
!LICENSE

# tmux
!.tmux.conf

# zshrc
!.zshrc

# config
!.config/

# sublime text
!.sublime-text/

# setup file
!setup_tilde.sh
