# Ignore everything
*
# Except
# ------
# Repository files
!.gitignore
!README.md
!LICENSE

# tmux
!.tmux.conf

# zshrc
!.zshrc

# emacs
!/.emacs.d/

# config
!/.config/

# setup file
!setup_tilde.sh
