" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" Source your .vimrc
source ~/.vimrc

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
set surround
set multiple-cursors
set commentary

" IDE specific options
set ideajoin
set ideastatusicon=gray

" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
" Fuzzy find stuff
nnoremap <leader>f :action GotoFile<CR>
vnoremap <leader>f :action GotoFile<CR>
nnoremap <leader>F :action GotoClass<CR>
vnoremap <leader>F :action GotoClass<CR>
nnoremap <leader>g :action FindInPath<CR>
vnoremap <leader>g :action FindInPath<CR>
nnoremap <leader>/ :action SearchEverywhere<CR>
vnoremap <leader>/ :action SearchEverywhere<CR>

" Buffer switching
nnoremap <leader>b :action Switcher<CR>
nnoremap <leader>B :action SwitcherAndRecentFiles<CR>

" Find marked text
vnoremap // y/<c-r>"<CR>

" Code styles
nnoremap <silent> <leader>l :action ReformatCode<CR>
vnoremap <silent> <leader>l :action ReformatCode<CR>

" Jump around
nnoremap gd :action GotoDeclaration<CR>
nnoremap gD :action GotoTypeDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gr :action FindUsages<CR>
vnoremap gr :action FindUsages<CR>

" Run stuff
nnoremap <leader>x :action RunMenu<CR>
nnoremap gx :action RunClass<CR>

" Code actions
nnoremap <leader>a :action GotoAction<CR>
nnoremap <leader>k :action ShowHoverInfo<CR>

" Project view
nnoremap - :action SelectInProjectView<CR>

" Hide all windows
nnoremap X :action HideAllWindows<CR>

" Diagnostics navigation
nnoremap ]d :action GotoNextError<CR>
nnoremap [d :action GotoPreviousError<CR>
