.tab-text.tab-label{
  font-size: 12px;
}

.tab-context-line {
  display: none;
}
.tab-icon-image {
  box-sizing: content-box;
  padding: 3px 0;
  border-bottom: 2px solid var(--identity-icon-color);
}
